{% extends './layout.html' %}

{% block content %}
	<div class='well'>
		<h4>Departments - {{thisDepartment.name}}</h4>
	</div>
	<div class='form-group'>
		<form action='/departments/{{defaultDepartment.id}}' method='POST'>
			<input type="text" name="employee" value='New Employee'>
			<button class='btn btn-primary' type="submit">Submit Employee</button>
		</form>
	</div>

	{% if onDefault === true %}
		<div class='well'><h4>This is the default Department</h4></div>
	{% endif %}

	{% if onDefault != true %}
		<form action='/departments/{{thisDepartment.id}}/employees' method='POST'>
			<input type='submit' class='btn btn-warning' value='Make This the Default Department'>
		</form>
		<hr>
	{% endif %}

	<div class='container'>
		<ul class='nav nav-tabs'>
			{% for department in departments %}
				<a href="/departments/{{department.id}}" class='btn btn-primary'>{{department.name}}</a>
			{% endfor %}
		</ul>
	</div>
{% endblock %}