<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
	<div class='container'>
		<h1 class='container'>{{title}}</h1>
		<ul class='nav nav-tabs'>
			<li {%if tab === 'home' %}class='active'{% endif %}><a href='/'>Home</a></li>
			<li {%if tab === 'departments' %}class='active'{% endif %}><a href="/departments/{{defaultDepartment.id}}">Departments({{defaultDepartment.name}})</a></li>
			<li {%if tab === 'customers' %}class='active'{% endif %}><a href="/customers">Customers</a></li>
		</ul>
		{% block content %}
		{% endblock %}
	</div>
</body>
</html>